@media only screen and (max-width: 1199.98px) {
  .container-lg {
    width: 100vw;
  }

  .advantages__card .advantages__image {
    height: 200px;
    margin: 0 200px;
  }

  .yellow-card .yellow-card--demo,
  .yellow-card .yellow-card--webinar {
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 0;
  }

  .yellow-card .yellow-card__badge,
  .yellow-card__image {
    display: none;
  }

  .yc-title .webinar {
    width: 100%;
  }

  .blog-section__item {
    height: fit-content;
  }

  .blog-section {
    flex-wrap: wrap;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 991.98px) {
  nav a {
    font-size: 11px;
  }

  .navbar__actions .navbar__btn--book {
    font-size: 12px;
  }

  .hero {
    padding: 0;
  }

  .hero__buttons button {
    margin: 0;
    padding: 0.5em 1.6em;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
  }

  h4 {
    margin-top: 12px;
  }

  .faq__wrapper,
  .footer__wrapper {
    flex-wrap: wrap;
  }

  .col-lg-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 768.98px) {

  .navbar__mobile-menu {
    display: flex;
    gap: 0.5rem;
  }

  .prices__plans {
    flex-wrap: wrap;
  }

  .press-grid {
    display: block;
  }

  .press__comment {
    width: 100%;
    transform: none;
    margin: 1rem 0;
  }

  .navbar__links ul,
  .navbar__actions {
    display: none;
  }
}

@media only screen and (max-width: 575.98px) {

  .container {
    width: 100%;
    padding-inline: 1rem;
  }

  .hero__title,
  h2 {
    font-size: 2rem;
  }

  .hero__buttons {
    flex-direction: column;
  }

  .hero__buttons button {
    font-size: 1rem;
    width: 60%;
    margin: 0 auto;
  }

  .advantages__card .advantages__text h3 {
    font-size: 22px;
  }

  .advantages__card .advantages__image {
    height: 200px;
    margin: 0;
  }

  .advantages__card .advantages__image,
  .advantages__card .advantages__text {
    padding: 0;
  }

  .advantages__card {
    gap: 2rem;
  }

  .yellow-card {
    padding: 0;
  }

  .yellow-card li h3 {
    font-size: 25px;
  }

  .yellow-card .yellow-card--demo p,
  .yellow-card .yellow-card--webinar p {
    line-height: 1.6;
  }

  .yellow-card .yellow-card--demo,
  .yellow-card .yellow-card--webinar {
    padding: 0 2em;
  }

  .yellow-card h3 {
    font-size: 2em;
  }

  .yellow-card button {
    font-size: 1em;
    width: 100%;
  }

  .advantages__discover-btn {
    padding: 0.8rem 1rem;
    font-size: .9rem;
  }

  .opinions__title {
    width: 100%;
  }

  .blog-section__item {
    padding: 1.5rem;
  }

  .price__toggle button {
    font-size: .8rem;
  }

  .blog-section__item h3 {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .press__comment {
    padding: 1rem;
    flex-direction: column;
  }

  .press__comment .comments-desktop {
    display: none;
  }

  .press__comment .comments-mobile {
    display: block;
  }

  .navbar__mobile-menu {
    padding: 0;
  }

  nav img,
  nav .logo {
    margin-top: 0;
  }

  .comment__images img {
    max-width: 100%;
  }

  .comment__images img.diagonal-arrow {
    right: 0;
  }

  .comment__text {
    text-align: center;
  }

  .opinions__list {
    position: static;
  }

  .chat-icon {
    right: 14px;
  }

  footer {
    padding: 0 1rem;
  }
}