/* BEHIND THE SCENES */
@font-face {
  font-family: "OpenSauce";
  src: url('../assets/Fonts/opensauceone-medium-webfont.woff2') format('woff2'),
    url('../assets/Fonts/opensauceone-medium-webfont.woff') format('woff'),
    url("../assets/Fonts/OpenSauceOne-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .5s;
  font-family: "OpenSauce";
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #222;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fcb731;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* GLOBAL STYLES */
section {
  margin-bottom: 10rem;
  background-image: url("../assets/section-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

button {
  cursor: pointer;
}

li,
.list {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding-top: 72px;
  font-size: 13px;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
}

.shadow {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.148);
}

.header {
  font-weight: bold;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 20px;
  color: #666;
  background-color: #f9f9f9;
}

.hero {
  margin: 2rem auto;
  padding: 0 13rem;
}

/* NAVBAR */
nav {
  margin: auto;
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 12px 12px;
  height: 4.5rem;
  padding-inline: 2rem;
}

nav img {
  width: 30px;
  height: 30px;
  margin-top: 0.8rem;
}

nav .logo {
  font-size: 1.6em;
  margin-left: 0.5rem;
  font-weight: bold;
  margin-top: 0.8rem;
}

.navbar-links,
.navbar-links ul {
  list-style-type: none;
  display: flex;
}

.navbar-links li {
  margin: 0.5rem;
  padding: 0.6rem;
  border-radius: 20px;
}

.navbar-links a {
  color: black;
  text-decoration: none;
}

.navbar-links li:nth-child(1) {
  border: 2px solid rgba(0, 0, 0, 0.152);
}

.misc {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.lgn-btn {
  background-color: white;
  border-radius: 20px;
  padding: 0.6rem;
  width: 6em;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.misc .book-btn {
  color: white;
  background-color: #ffb700;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

select {
  border: none;
  outline: none;
  border-radius: 2px;
}

/* OVERVIEW */
.header-main {
  font-weight: bold;
  width: fit-content;
  text-align: center;
  margin: 2.5rem auto;
  padding: 10px 20px;
  border-radius: 20px;
  color: #666;
  background-color: #f9f9f9;
}

.header-main span {
  color: #ffb700;
}

h1.main-title {
  text-align: center;
  color: #333;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3;
  margin: 12px 0;
}

h1.main-title span {
  color: #ffb700;
}

.hero p {
  text-align: center;
  color: #777;
  line-height: 1.8rem;
  font-size: 1rem;
  margin: 1rem;
}

.hero .buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero .buttons button {
  margin: 0;
  padding: 0.5em 1.6em;
  border-radius: 30px;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
}

.hero .buttons .book-btn {
  background-color: #ffb700;
  color: white;
}

.hero .buttons .try-it {
  background-color: white;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

/* Jumbotron */
.video {
  text-align: center;
  margin-top: 5rem;
}

video {
  border-radius: 12px;
  width: 85%;
  height: auto;
}

/* A selection of our customers */
.running-text {
  overflow: hidden;
  margin-top: 10rem;
}

.running-text .image-ticker {
  display: flex;
  animation: move 40s linear infinite;
  list-style-type: none;
  width: max-content;
}

.running-text .image-ticker li {
  width: 275px;
}

.running-text .image-ticker img {
  width: 100%;
  height: auto;
}


@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* ADVANTAGES */
#advantages {
  text-align: center;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3;
}

.advantages-cards {
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 2em 3em;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fefefe;
}

.advantages-cards .advantages-image {
  position: relative;
  background-color: #fefefe;
  height: 400px;
  margin: auto;
  border-radius: 12px;
}

.advantages-cards .advantages-image img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.blur {
  filter: blur(3px);
}

.advantages-cards .advantages-image img.offset {
  top: 50%;
  transform: translateY(-50%);
}


.advantages-cards .advantages-image img.card3 {
  top: 30%;
  height: 30%;
}

.advantages-cards .advantages-text {
  margin: auto;
  text-align: center;
  padding: 0 3rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.advantages-cards .advantages-text h3 {
  color: #333;
  line-height: 2rem;
}

.advantages-cards .advantages-text p {
  margin-top: 1.4rem;
  font-size: 13px;
  color: #666;
}

.advantages-cards .advantages-text a {
  color: #ffb700;
}

.discover-btn {
  text-align: center;
  background-color: #ffb700;
  font-size: 1.4rem;
  border: none;
  padding: 0.8rem 2rem;
  font-weight: bold;
  color: #fefefe;
  border-radius: 40px;
  cursor: pointer;
}

/* YELLOW CARD */

.yellow-card {
  text-align: left;
  margin: 10rem auto;
  padding: 0 2.5rem;
  display: flex;
  background-color: #fcb731;
  color: #fff;
  border-radius: 20px;
}

.yellow-card .text-gpt,
.yellow-card .text-antonio {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff
}

.yellow-card .text-gpt {
  padding-right: 5rem;
}

.yellow-card .text-antonio {
  padding-right: 17rem;
}

.yellow-card .yc-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.yellow-card h3 {
  font-size: 3em;
}

.yellow-card button {
  font-size: 1.4em;
  padding: 15px 30px;
  border: none;
  color: #333;
  border-radius: 30px;
  font-weight: bold;
}

.yellow-card .image,
.yellow-card .image-big {
  display: flex;
  position: relative;
}

.yellow-card .image-big img {
  max-height: 405px;
  height: 100%;
  width: auto;
}

.yellow-card .antonio {
  position: absolute;
  top: 0;
  transform: translate(-30%, -10%);
  left: 0;
  height: 111%;
}

.yellow-card img {
  height: 20rem;
  width: auto;
  display: inline;
}

.yc-title .webinar {
  position: relative;
  width: 30%;
  font-weight: bold;
  border: 2px solid white;
  text-align: center;
  padding: 10px 30px;
  border-radius: 20px;
}

/* OPINIONS */
.opinions-title {
  position: relative;
  width: 30%;
}

.subtitle {
  font-weight: bold;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.303);
  width: fit-content;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  color: #666;
}

.opinions-title p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: left;
}

.opinions-title h2 {
  text-align: left;
  font-size: 2.2em;
  text-align: left;
  margin-bottom: 1rem;
}

.opinion-section {
  display: flex;
  overflow-x: hidden;
  gap: 2rem;
  width: max-content;
  padding-inline: 2rem;
  position: absolute;
  top: -2rem;
  left: 28rem;
}

.opinion {
  text-align: left;
  width: 32rem;
  margin: 2rem 0;
  background-color: #fefefe;
  flex: 0 0 32rem;
  border-radius: 12px;
  padding: 2rem;
}

.opinion p {
  font-weight: bold;
  font-size: 1.2rem;
}

.opinion .profile img {
  width: 60px;
  border-radius: 30px;
}

.opinion .profile p {
  font-weight: normal;
  margin: auto 0;
}

.opinion .profile {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
  align-items: center;
  padding: 20px 0;
}

.opinion .profile .role {
  color: rgba(0, 0, 0, 0.561);
  font-size: 0.8rem;
}

.arrows button {
  padding: 10px 20px;
  background-color: #fefefe;
  font-weight: bold;
  border-radius: 24px;
  font-size: 1.5rem;
  border: none;
}

/* PRICES */
.price-toggle {
  border: 1px solid #aaa;
  background-color: #eee;
  padding: 10px;
  margin: 3rem auto 2rem;
  width: fit-content;
  border-radius: 30px;
  display: flex;
  gap: 1rem;
}

.price-toggle button {
  border: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 20px;
}

.price-toggle .selected {
  background-color: #fcfcfc;
}

.price-toggle button span {
  font-size: 0.9rem;
  background-color: #ffb700;
  padding: 5px;
  border-radius: 30px;
  color: white;
}

.plans {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 0 auto;
}

.plan {
  background-color: #fefefe;
  padding: 2rem;
  border-radius: 16px;
}

.plan .price {
  font-weight: bold;
  font-size: 2rem;
}

.plan .desc {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.518);
  line-height: 1.5rem;
}

.plan span {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.518);
  font-size: 0.8rem;
}

.plan>* {
  margin: 1rem 0;
}

.plan .try {
  text-align: center;
  width: 100%;
  background-color: #fefefe;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid #d0d0d03e;
  border-radius: 20px;
}

.learnmore {
  margin: 1.5rem auto;
  width: 100%;
  padding: 15px;
  border-radius: 40px;
  border: none;
  background-color: #ffc229;
  color: #fefefe;
  font-size: 1.2rem;
  font-weight: bold;
}

/* BLOG */
.blogs {
  display: flex;
  margin: auto;
  justify-content: space-between;
  gap: 2rem;
}

.blog {
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.303);
  padding: 2rem;
  border-radius: 12px;
  transition: .6s;
}

.blog a {
  color: black;
  text-decoration: none;
}

.blog:hover a .categories {
  color: #0a0a0a;
}

.blog:hover,
.blog:focus {
  transform: scale(1.05);
  background-color: #efefef;
  transition: .6s;
}

.blog img {
  width: 100%;
  height: 30%;
  border-radius: 12px;
}



.blog .categories,
.blog h3,
.blog p,
.blog .date {
  margin: 20px 0;
}

.blog .categories {
  background-color: #ffb700;
  color: #fcfcfc;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 20px;
  font-weight: bold;
}


.blog h3 {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.blog p {
  color: #777;
  font-size: 0.8rem;
  line-height: 1.6;
}

.wrapper {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

.end {
  padding: 2rem 0;
  color: #777;
}

.wrapper .faq li img {
  width: 50px;
}

.wrapper .faq li p {
  width: fit-content;
  margin: auto 0;
  max-width: 80%;
}

.wrapper .faq .item-wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper .faq li {
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.137);
  width: 100%;
  padding: 1.5rem 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 14px;
}

.wrapper .faq li .desc {
  margin-top: 1rem;
  font-size: 12px;
  display: none;
}

.wrapper .faq li:hover .desc {
  display: block;
}

.wrapper .faq-title {
  width: 100%;
  position: sticky;
  top: 4.5rem;
  height: fit-content;
  padding: 0rem 2rem 2rem 0;
}

.wrapper .faq-title h2 {
  text-align: left;
  font-size: 2.2em;
  margin-bottom: 1rem;
}

.wrapper .faq-title p {
  font-size: 0.9em;
  color: #777;
}

footer {
  width: 100%;
  border-radius: 40px 40px 0 0;
  position: relative;
}

.chat-icon {
  position: absolute;
  background-color: #1972f5;
  bottom: 65px;
  right: 59px;
  padding: 15px;
  border-radius: 50%;
}

footer>.wrapper {
  padding: 2rem 0;
  line-height: 2.3rem;
}

.footer-contact img {
  width: 2rem;
}

.list a {
  text-decoration: none;
  color: black;
}

.desc {
  line-height: 1.4rem;
  font-size: 0.9em;
  color: #777;
}

form input {
  padding: 17px 15px;
  width: 60%;
  height: 30px;
  border-radius: 16px;
  border: 1px solid #999;
  outline: none;
}

form button {
  color: white;
  background-color: #ffb700;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.col-6 {
  max-width: calc(100% / 12 * 6);
  flex-basis: calc(100% / 12 * 6);
}


.container,
.container-lg {
  width: 80vw;
  max-width: 1024px;
  margin-inline: auto;
  /* overflow-x: hidden; */
}



.container-fluid {
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
  margin-inline: auto;
}

.mobile-menu {
  padding: 2rem;
  display: none;
  margin-left: auto;
}

.press-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.comment {
  width: 100%;
  max-width: 420px;
  display: flex;
  height: fit-content;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  padding: 2rem;
}

.comment:nth-child(1) {
  transform: translateY(3rem);
  transform: translateX(-2rem);
}

.comment:nth-child(2) {
  transform: translateY(-2rem);
  transform: translateX(2rem);
}

.comment:nth-child(4) {
  transform: translateY(1rem);
}

.comment .comments-mobile {
  display: none;
}

.comment .comments-mobile a {
  color: #ffb700;
}

.comment .comments-desktop {
  display: block;
}

.comment .image {
  width: 50%;
  flex-basis: 40%;
  flex-shrink: 0;
  position: relative;
}

.comment .image img {
  max-width: 80%;
}

.comment .image img.diagonal-arrow {
  position: absolute;
  max-width: 20%;
  bottom: 0;
  right: 25px;
  background-color: #fcb731;
  padding: 5px;
  border-radius: 15px;
  outline: 1px solid #f9f9f9;
}

.comment .text {
  flex-basis: 60%;
  max-width: 60%;
  line-height: 1.5;
}

.faq li {
  cursor: pointer;
}

.comment .text p {
  color: #969696;
}

.list li a:hover,
.list li a:focus {
  text-decoration: underline;
}

.yellow-btn:hover,
.yellow-btn:focus,
.discover-btn:hover,
.discover-btn:focus,
.hero .buttons .book-btn:hover {
  background-color: #ffbd15;
  color: black;
  transform: scale(1.05);
}

.white-btn:hover,
.white-btn:focus,
.hero .buttons .try-it:hover,
.hero .buttons .try-it:focus {
  color: #fcb731;
  transform: scale(1.05);
}

.price-toggle button:hover {
  background-color: #fcfcfc;
}



@media only screen and (max-width: 1199.98px) {
  .container-lg {
    width: 100vw;
  }

  .advantages-cards .advantages-image {
    height: 200px;
    margin: 0 200px;
  }

  .yellow-card .text-antonio,
  .yellow-card .text-gpt {
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 0;
  }

  .yellow-card .image-big,
  .yellow-card .image {
    display: none;
  }

  .yc-title .webinar {
    width: 100%;
  }

  .blog {
    height: fit-content;
  }

  .blogs {
    flex-wrap: wrap;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 991.98px) {
  nav a {
    font-size: 11px;
  }

  .misc .book-btn {
    font-size: 12px;
  }

  .hero {
    padding: 0;
  }

  .hero .buttons button {
    margin: 0;
    padding: 0.5em 1.6em;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
  }

  h4 {
    margin-top: 12px;
  }

  .wrapper {
    flex-wrap: wrap;
  }

  .wrapper .title {
    width: 100%;
    position: relative;
    top: 0;
    height: fit-content;
    padding: 0rem 2rem 2rem;
  }

  .col-lg-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 768.98px) {

  .mobile-menu {
    display: flex;
    gap: 0.5rem;
  }

  .plans {
    flex-wrap: wrap;
  }

  .press-grid {
    display: block;
  }

  .comment {
    width: 100%;
    transform: none;
    margin: 1rem 0;
  }

  .navbar-links ul,
  .misc {
    display: none;
  }
}

@media only screen and (max-width: 575.98px) {

  .container {
    width: 100%;
    padding-inline: 1rem;
  }

  h1.main-title,
  h2 {
    font-size: 2rem;
  }

  .hero .buttons {
    flex-direction: column;
  }

  .hero .buttons button {
    font-size: 1rem;
    width: 60%;
    margin: 0 auto;
  }


  .advantages-cards .advantages-text h3 {
    font-size: 22px;
  }

  .advantages-cards .advantages-image {
    height: 200px;
    margin: 0;
  }

  .advantages-cards .advantages-image,
  .advantages-cards .advantages-text {
    padding: 0;
  }

  .advantages-cards {
    gap: 2rem;
  }

  .yellow-card {
    padding: 0;
  }

  .yellow-card li h3 {
    font-size: 25px;
  }

  .yellow-card .text-antonio p,
  .yellow-card .text-gpt p {
    line-height: 1.6;
  }

  .yellow-card .text-antonio,
  .yellow-card .text-gpt {
    padding: 0 2em;
  }

  .yellow-card h3 {
    font-size: 2em;
  }

  .yellow-card button {
    font-size: 1em;
    width: 100%;
  }

  .discover-btn {
    padding: 0.8rem 1rem;
    font-size: .9rem;
  }

  .opinions-title {
    width: 100%;
  }

  .blog {
    padding: 1.5rem;
  }

  .price-toggle button {
    font-size: .8rem;
  }

  .blog h3 {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .comment {
    padding: 1rem;
    flex-direction: column;
  }

  .comment .comments-desktop {
    display: none;
  }

  .comment .comments-mobile {
    display: block;
  }

  .mobile-menu {
    padding: 0;
  }

  nav img,
  nav .logo {
    margin-top: 0;
  }

  .comment .image img {
    max-width: 100%;
  }

  .comment .image img.diagonal-arrow {
    right: 0;
  }

  .comment .text {
    text-align: center;
  }

  .opinion-section {
    position: static;
  }

  .chat {
    right: 14px;
  }

  footer {
    padding: 0 2rem;
  }
}