/* BEHIND THE SCENES */
@font-face {
  font-family: "OpenSauce";
  src: url('../assets/Fonts/opensauceone-medium-webfont.woff2') format('woff2'),
    url('../assets/Fonts/opensauceone-medium-webfont.woff') format('woff'),
    url("../assets/Fonts/OpenSauceOne-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "OpenSauce";
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #222;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fcb731;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* GLOBAL STYLES */
section {
  margin-bottom: 10rem;
  background-image: url("../assets/img/section-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

button {
  cursor: pointer;
}

button,
a,
li,
article {
  transition: .3s;
}

li,
.list {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding-top: 72px;
  font-size: 13px;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
}

.shadow {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.148);
}

.header {
  font-weight: bold;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 20px;
  color: #666;
  background-color: #f9f9f9;
}

.hero {
  margin: 2rem auto;
  padding: 0 13rem;
}

/* NAVBAR */
.navbar {
  margin: auto;
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 12px 12px;
  height: 4.5rem;
  padding-inline: 2rem;
}

.navbar img {
  width: 30px;
  height: 30px;
  margin-top: 0.8rem;
}

.navbar .logo {
  font-size: 1.6em;
  margin-left: 0.5rem;
  font-weight: bold;
  margin-top: 0.8rem;
}

.navbar__links,
.navbar__links ul {
  list-style-type: none;
  display: flex;
}

.navbar__item {
  margin: 0.5rem;
  padding: 0.6rem;
  border-radius: 20px;
}

.navbar__link {
  color: black;
  text-decoration: none;
}

.navbar__item:nth-child(1) {
  border: 2px solid rgba(0, 0, 0, 0.152);
}

.navbar__actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__btn--login {
  background-color: white;
  border-radius: 20px;
  padding: 0.6rem;
  width: 6em;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.navbar__actions .navbar__btn--book {
  color: white;
  background-color: #ffb700;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

select {
  border: none;
  outline: none;
  border-radius: 2px;
}

/* OVERVIEW */
.header--main {
  font-weight: bold;
  width: fit-content;
  text-align: center;
  margin: 2.5rem auto;
  padding: 10px 20px;
  border-radius: 20px;
  color: #666;
  background-color: #f9f9f9;
}

.header--main span {
  color: #ffb700;
}

.hero__title {
  text-align: center;
  color: #333;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3;
  margin: 12px 0;
}

.hero__title span {
  color: #ffb700;
}

.hero__text {
  text-align: center;
  color: #777;
  line-height: 1.8rem;
  font-size: 1rem;
  margin: 1rem;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero__buttons button {
  margin: 0;
  padding: 0.5em 1.6em;
  border-radius: 30px;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
}

.hero__buttons .navbar__btn--book {
  background-color: #ffb700;
  color: white;
}

.hero__buttons .hero__btn--secondary {
  background-color: white;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

/* Jumbotron */
.hero__video {
  text-align: center;
  margin-top: 5rem;
}

video {
  border-radius: 12px;
  width: 85%;
  height: auto;
}

/* A selection of our customers */
.hero__ticker {
  overflow: hidden;
  margin-top: 10rem;
}

.hero__ticker .hero__ticker-list {
  display: flex;
  animation: move 40s linear infinite;
  list-style-type: none;
  width: max-content;
}

.hero__ticker .hero__ticker-list li {
  width: 275px;
}

.hero__ticker .hero__ticker-list img {
  width: 100%;
  height: auto;
}


@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* ADVANTAGES */
#advantages {
  text-align: center;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3;
}

.advantages__card {
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 2em 3em;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fefefe;
}

.advantages__card .advantages__image {
  position: relative;
  background-color: #fefefe;
  height: 400px;
  margin: auto;
  border-radius: 12px;
}

.advantages__card .advantages__image img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.advantages__card .advantages__image img.advantages__image--blur {
  filter: blur(3px);
}

.advantages__card .advantages__image img.advantages__image--offset {
  top: 50%;
  transform: translateY(-50%);
}


.advantages__card .advantages__image img.advantages__image--card3 {
  top: 30%;
  height: 30%;
}

.advantages__card .advantages__text {
  margin: auto;
  text-align: center;
  padding: 0 3rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.advantages__card .advantages__text h3 {
  color: #333;
  line-height: 2rem;
}

.advantages__card .advantages__text p {
  margin-top: 1.4rem;
  font-size: 13px;
  color: #666;
}

.advantages__card .advantages__text a {
  color: #ffb700;
}

.advantages__discover-btn {
  text-align: center;
  background-color: #ffb700;
  font-size: 1.4rem;
  border: none;
  padding: 0.8rem 2rem;
  font-weight: bold;
  color: #fefefe;
  border-radius: 40px;
  cursor: pointer;
}

/* YELLOW CARD */

.yellow-card {
  text-align: left;
  margin: 10rem auto;
  padding: 0 2.5rem;
  display: flex;
  background-color: #fcb731;
  color: #fff;
  border-radius: 20px;
}

.yellow-card .yellow-card--webinar,
.yellow-card .yellow-card--demo {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff
}

.yellow-card .yellow-card--webinar {
  padding-right: 5rem;
}

.yellow-card .yellow-card--demo {
  padding-right: 17rem;
}

.yellow-card__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.yellow-card h3 {
  font-size: 3em;
}

.yellow-card button {
  font-size: 1.4em;
  padding: 15px 30px;
  border: none;
  color: #333;
  border-radius: 30px;
  font-weight: bold;
}

.yellow-card__image,
.yellow-card__badge {
  display: flex;
  position: relative;
}

.yellow-card .yellow-card__badge img {
  max-height: 405px;
  height: 100%;
  width: auto;
}

.yellow-card .antonio {
  position: absolute;
  top: 0;
  transform: translate(-30%, -10%);
  left: 0;
  height: 111%;
}

.yellow-card img {
  height: 20rem;
  width: auto;
  display: inline;
}

.yc-title .webinar {
  position: relative;
  width: 30%;
  font-weight: bold;
  border: 2px solid white;
  text-align: center;
  padding: 10px 30px;
  border-radius: 20px;
}

/* OPINIONS */
.opinions__title {
  position: relative;
  width: 30%;
}

.opinions__badge {
  font-weight: bold;
  width: fit-content;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  color: #666;
}

.opinions__title p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: left;
}

.opinions__title h2 {
  text-align: left;
  font-size: 2.2em;
  text-align: left;
  margin-bottom: 1rem;
}

.opinions__list {
  display: flex;
  overflow-x: hidden;
  gap: 2rem;
  width: max-content;
  padding-inline: 2rem;
  position: absolute;
  top: -2rem;
  left: 28rem;
}

.opinions__item {
  text-align: left;
  width: 32rem;
  margin: 2rem 0;
  background-color: #fefefe;
  flex: 0 0 32rem;
  border-radius: 12px;
  padding: 2rem;
}

.opinions__item p {
  font-weight: bold;
  font-size: 1.2rem;
}

.opinions__item .opinions__profile img {
  width: 60px;
  border-radius: 30px;
}

.opinions__item .opinions__profile p {
  font-weight: normal;
  margin: auto 0;
}

.opinions__item .opinions__profile {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
  align-items: center;
  padding: 20px 0;
}

.opinions__item .opinions__profile .role {
  color: rgba(0, 0, 0, 0.561);
  font-size: 0.8rem;
}

.opinions__arrows button {
  padding: 10px 20px;
  background-color: #fefefe;
  font-weight: bold;
  border-radius: 24px;
  font-size: 1.5rem;
  border: none;
}

/* PRICES */
.price__toggle {
  border: 1px solid #aaa;
  background-color: #eee;
  padding: 10px;
  margin: 3rem auto 2rem;
  width: fit-content;
  border-radius: 30px;
  display: flex;
  gap: 1rem;
}

.price__toggle button {
  border: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 20px;
}

.price__toggle .selected {
  background-color: #fcfcfc;
}

.price__toggle button span {
  font-size: 0.9rem;
  background-color: #ffb700;
  padding: 5px;
  border-radius: 30px;
  color: white;
}

.prices__plans {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 0 auto;
}

.prices__plan {
  background-color: #fefefe;
  padding: 2rem;
  border-radius: 16px;
}

.prices__price {
  font-weight: bold;
  font-size: 2rem;
}

.prices__desc {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.518);
  line-height: 1.5rem;
}

.prices__plan span {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.518);
  font-size: 0.8rem;
}

.prices__plan>* {
  margin: 1rem 0;
}

.prices__plan .prices__btn {
  text-align: center;
  width: 100%;
  background-color: #fefefe;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid #d0d0d03e;
  border-radius: 20px;
}

.prices__learnmore-btn {
  margin: 1.5rem auto;
  width: 100%;
  padding: 15px;
  border-radius: 40px;
  border: none;
  background-color: #ffc229;
  color: #fefefe;
  font-size: 1.2rem;
  font-weight: bold;
}

/* BLOG */
.blog-section {
  display: flex;
  margin: auto;
  justify-content: space-between;
  gap: 2rem;
}

.blog-section__item {
  background-color: #f9f9f9;
  width: 100%;
  padding: 2rem;
  border-radius: 12px;
  transition: .6s;
}

.blog-section__item a {
  color: black;
  text-decoration: none;
}

.blog-section__item:hover a .categories {
  transition: .3s;
  color: #0a0a0a;
}

.blog-section__item:hover,
.blog-section__item:focus {
  transform: scale(1.05);
  background-color: #efefef;
  transition: .6s;
}

.blog-section__item img {
  width: 100%;
  height: 30%;
  border-radius: 12px;
}

.blog-section__item .categories,
.blog-section__item h3,
.blog-section__item p,
.blog-section__item .date {
  margin: 20px 0;
}

.blog-section__item .categories {
  background-color: #ffb700;
  color: #fcfcfc;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 20px;
  font-weight: bold;
}

.blog-section__item h3 {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.blog-section__item p {
  color: #777;
  font-size: 0.8rem;
  line-height: 1.6;
}


/* PRESS */
.press-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.press__comment {
  width: 100%;
  max-width: 420px;
  display: flex;
  height: fit-content;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  padding: 2rem;
}

.press__comment:nth-child(1) {
  transform: translateY(3rem);
  transform: translateX(-2rem);
}

.press__comment:nth-child(2) {
  transform: translateY(-2rem);
  transform: translateX(2rem);
}

.press__comment:nth-child(4) {
  transform: translateY(1rem);
}

.press__comment .comments-mobile {
  display: none;
}

.press__comment .comments-mobile a {
  color: #ffb700;
}

.press__comment .comments-desktop {
  display: block;
}

.comment__images {
  width: 50%;
  flex-basis: 40%;
  flex-shrink: 0;
  position: relative;
}

.comment__images img {
  max-width: 80%;
}

.comment__images img.diagonal-arrow {
  position: absolute;
  max-width: 20%;
  bottom: 0;
  right: 25px;
  background-color: #fcb731;
  padding: 5px;
  border-radius: 15px;
  outline: 1px solid #f9f9f9;
}

.comment__text {
  flex-basis: 60%;
  max-width: 60%;
  line-height: 1.5;
}

.comment__text p {
  color: #969696;
}

/* FAQ */
.faq__list li {
  cursor: pointer;
}

.faq__wrapper {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

.faq__wrapper .faq__list li img {
  width: 50px;
}

.faq__wrapper .faq__list li p {
  width: fit-content;
  margin: auto 0;
  max-width: 80%;
}

.faq__wrapper .faq__list .faq__item-header {
  display: flex;
  justify-content: space-between;
}

.faq__wrapper .faq__list li {
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.137);
  width: 100%;
  padding: 1.5rem 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 14px;
}

.faq__wrapper .faq__list li .faq__answer {
  margin-top: 1rem;
  font-size: 12px;
  display: none;
}

.faq__wrapper .faq__list li:hover .faq__answer {
  display: block;
}

.faq__wrapper .faq__title {
  width: 100%;
  position: sticky;
  top: 4.5rem;
  height: fit-content;
  padding: 0rem 2rem 2rem 0;
}

.faq__wrapper .faq__title h2 {
  text-align: left;
  font-size: 2.2em;
  margin-bottom: 1rem;
}

.faq__wrapper .faq__title p {
  font-size: 0.9em;
  color: #777;
}

/* FOOTER */
footer {
  width: 100%;
  border-radius: 40px 40px 0 0;
  position: relative;
}

.chat-icon {
  position: absolute;
  background-color: #1972f5;
  bottom: 65px;
  right: 59px;
  padding: 15px;
  border-radius: 50%;
}

.footer__wrapper {
  padding: 2rem 0;
  line-height: 2.3rem;
  display: flex;
  justify-content: space-between;
}

.end {
  padding: 2rem 0;
  color: #777;
}

.footer-contact img {
  width: 2rem;
}

.list a {
  text-decoration: none;
  color: black;
}

.faq__answer {
  line-height: 1.4rem;
  font-size: 0.9em;
  color: #777;
}

form input {
  padding: 17px 15px;
  width: 60%;
  height: 30px;
  border-radius: 16px;
  border: 1px solid #999;
  outline: none;
}

form button {
  color: white;
  background-color: #ffb700;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.col-6 {
  max-width: calc(100% / 12 * 6);
  flex-basis: calc(100% / 12 * 6);
}


.container,
.container-lg {
  width: 80vw;
  max-width: 1024px;
  margin-inline: auto;
  /* overflow-x: hidden; */
}

.container-fluid {
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
  margin-inline: auto;
}

.mobile-menu {
  padding: 2rem;
  display: none;
  margin-left: auto;
}


.list li a:hover,
.list li a:focus {
  text-decoration: underline;
}

.yellow-btn:hover,
.yellow-btn:focus,
.advantages__discover-btn:hover,
.advantages__discover-btn:focus,
.hero__buttons .navbar__btn--book:hover {
  background-color: #ffbd15;
  color: black;
  transform: scale(1.05);
}

.white-btn:hover,
.white-btn:focus,
.hero__buttons .hero__btn--secondary:hover,
.hero__buttons .hero__btn--secondary:focus {
  color: #fcb731;
  transform: scale(1.05);
}

.price__toggle button:hover {
  background-color: #fcfcfc;
}


@media only screen and (max-width: 1199.98px) {
  .container-lg {
    width: 100vw;
  }

  .advantages__card .advantages__image {
    height: 200px;
    margin: 0 200px;
  }

  .yellow-card .yellow-card--demo,
  .yellow-card .yellow-card--webinar {
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 0;
  }

  .yellow-card .yellow-card__badge,
  .yellow-card__image {
    display: none;
  }

  .yc-title .webinar {
    width: 100%;
  }

  .blog-section__item {
    height: fit-content;
  }

  .blog-section {
    flex-wrap: wrap;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 991.98px) {
  nav a {
    font-size: 11px;
  }

  .navbar__actions .navbar__btn--book {
    font-size: 12px;
  }

  .hero {
    padding: 0;
  }

  .hero__buttons button {
    margin: 0;
    padding: 0.5em 1.6em;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
  }

  h4 {
    margin-top: 12px;
  }

  .faq__wrapper,
  .footer__wrapper {
    flex-wrap: wrap;
  }

  .col-lg-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 768.98px) {

  .mobile-menu {
    display: flex;
    gap: 0.5rem;
  }

  .prices__plans {
    flex-wrap: wrap;
  }

  .press-grid {
    display: block;
  }

  .press__comment {
    width: 100%;
    transform: none;
    margin: 1rem 0;
  }

  .navbar__links ul,
  .navbar__actions {
    display: none;
  }
}

@media only screen and (max-width: 575.98px) {

  .container {
    width: 100%;
    padding-inline: 1rem;
  }

  .hero__title,
  h2 {
    font-size: 2rem;
  }

  .hero__buttons {
    flex-direction: column;
  }

  .hero__buttons button {
    font-size: 1rem;
    width: 60%;
    margin: 0 auto;
  }

  .advantages__card .advantages__text h3 {
    font-size: 22px;
  }

  .advantages__card .advantages__image {
    height: 200px;
    margin: 0;
  }

  .advantages__card .advantages__image,
  .advantages__card .advantages__text {
    padding: 0;
  }

  .advantages__card {
    gap: 2rem;
  }

  .yellow-card {
    padding: 0;
  }

  .yellow-card li h3 {
    font-size: 25px;
  }

  .yellow-card .yellow-card--demo p,
  .yellow-card .yellow-card--webinar p {
    line-height: 1.6;
  }

  .yellow-card .yellow-card--demo,
  .yellow-card .yellow-card--webinar {
    padding: 0 2em;
  }

  .yellow-card h3 {
    font-size: 2em;
  }

  .yellow-card button {
    font-size: 1em;
    width: 100%;
  }

  .advantages__discover-btn {
    padding: 0.8rem 1rem;
    font-size: .9rem;
  }

  .opinions__title {
    width: 100%;
  }

  .blog-section__item {
    padding: 1.5rem;
  }

  .price__toggle button {
    font-size: .8rem;
  }

  .blog-section__item h3 {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .press__comment {
    padding: 1rem;
    flex-direction: column;
  }

  .press__comment .comments-desktop {
    display: none;
  }

  .press__comment .comments-mobile {
    display: block;
  }

  .mobile-menu {
    padding: 0;
  }

  nav img,
  nav .logo {
    margin-top: 0;
  }

  .comment__images img {
    max-width: 100%;
  }

  .comment__images img.diagonal-arrow {
    right: 0;
  }

  .comment__text {
    text-align: center;
  }

  .opinions__list {
    position: static;
  }

  .chat-icon {
    right: 14px;
  }

  footer {
    padding: 0 2rem;
  }
}