/* FOOTER */
footer {
  width: 100%;
  border-radius: 40px 40px 0 0;
  position: relative;
}

.chat-icon {
  position: absolute;
  background-color: #1972f5;
  bottom: 65px;
  right: 59px;
  padding: 15px;
  border-radius: 50%;
}

.footer__wrapper {
  padding: 2rem 0;
  line-height: 2.3rem;
  display: flex;
  justify-content: space-between;
}

.end {
  padding: 2rem 0;
  color: #777;
}

.footer-contact img {
  width: 2rem;
}

.list a {
  text-decoration: none;
  color: black;
}

.faq__answer {
  line-height: 1.4rem;
  font-size: 0.9em;
  color: #777;
}

form input {
  padding: 17px 15px;
  width: 60%;
  height: 30px;
  border-radius: 16px;
  border: 1px solid #999;
  outline: none;
}

form button {
  color: white;
  background-color: #ffb700;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  font-weight: bold;
}