/* OPINIONS */
.opinions__title {
  position: relative;
  width: 30%;
}

.opinions__badge {
  font-weight: bold;
  width: fit-content;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  color: #666;
}

.opinions__title p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: left;
}

.opinions__title h2 {
  text-align: left;
  font-size: 2.2em;
  text-align: left;
  margin-bottom: 1rem;
}

.opinions__list {
  display: flex;
  overflow-x: hidden;
  gap: 2rem;
  width: max-content;
  padding-inline: 2rem;
  position: absolute;
  top: -2rem;
  left: 28rem;
}

.opinions__item {
  text-align: left;
  width: 32rem;
  margin: 2rem 0;
  background-color: #fefefe;
  flex: 0 0 32rem;
  border-radius: 12px;
  padding: 2rem;
}

.opinions__item p {
  font-weight: bold;
  font-size: 1.2rem;
}

.opinions__item .opinions__profile img {
  width: 60px;
  border-radius: 30px;
}

.opinions__item .opinions__profile p {
  font-weight: normal;
  margin: auto 0;
}

.opinions__item .opinions__profile {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
  align-items: center;
  padding: 20px 0;
}

.opinions__item .opinions__profile .role {
  color: rgba(0, 0, 0, 0.561);
  font-size: 0.8rem;
}

.opinions__arrows button {
  padding: 10px 20px;
  background-color: #fefefe;
  font-weight: bold;
  border-radius: 24px;
  font-size: 1.5rem;
  border: none;
}
