/* PRESS */
.press-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.press__comment {
  width: 100%;
  max-width: 420px;
  display: flex;
  height: fit-content;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  padding: 2rem;
}

.press__comment:nth-child(1) {
  transform: translateY(3rem);
  transform: translateX(-2rem);
}

.press__comment:nth-child(2) {
  transform: translateY(-2rem);
  transform: translateX(2rem);
}

.press__comment:nth-child(4) {
  transform: translateY(1rem);
}

.press__comment .comments-mobile {
  display: none;
}

.press__comment .comments-mobile a {
  color: #ffb700;
}

.press__comment .comments-desktop {
  display: block;
}

.comment__images {
  width: 50%;
  flex-basis: 40%;
  flex-shrink: 0;
  position: relative;
}

.comment__images img {
  max-width: 80%;
}

.comment__images img.diagonal-arrow {
  position: absolute;
  max-width: 20%;
  bottom: 0;
  right: 25px;
  background-color: #fcb731;
  padding: 5px;
  border-radius: 15px;
  outline: 1px solid #f9f9f9;
}

.comment__text {
  flex-basis: 60%;
  max-width: 60%;
  line-height: 1.5;
}

.comment__text p {
  color: #969696;
}