/* PRICES */
.price__toggle {
  border: 1px solid #aaa;
  background-color: #eee;
  padding: 10px;
  margin: 3rem auto 2rem;
  width: fit-content;
  border-radius: 30px;
  display: flex;
  gap: 1rem;
}

.price__toggle button {
  border: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 20px;
}

.price__toggle .selected {
  background-color: #fcfcfc;
}

.price__toggle button span {
  font-size: 0.9rem;
  background-color: #ffb700;
  padding: 5px;
  border-radius: 30px;
  color: white;
}

.prices__plans {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 0 auto;
}

.prices__plan {
  background-color: #fefefe;
  padding: 2rem;
  border-radius: 16px;
}

.prices__price {
  font-weight: bold;
  font-size: 2rem;
}

.prices__desc {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.518);
  line-height: 1.5rem;
}

.prices__plan span {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.518);
  font-size: 0.8rem;
}

.prices__plan>* {
  margin: 1rem 0;
}

.prices__plan .prices__btn {
  text-align: center;
  width: 100%;
  background-color: #fefefe;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid #d0d0d03e;
  border-radius: 20px;
}

.prices__learnmore-btn {
  margin: 1.5rem auto;
  width: 100%;
  padding: 15px;
  border-radius: 40px;
  border: none;
  background-color: #ffc229;
  color: #fefefe;
  font-size: 1.2rem;
  font-weight: bold;
}